<div class="panel panel-default">
  <div class="panel-heading">Pool List</div>
  <div class="panel-body">An overview of all pools
    <div class="pull-right">
      <%= link_to('Create new',new_pool_path,class:'btn btn-default') %>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Docker-Image</th>
        <th>Min. containers</th>
        <th>Max. containers</th>
        <th>Available containers</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @pools.each do |pool| %>
      <tr>
        <td><%= pool.id %></td>
        <td><%= pool.image %></td>
        <td><%= pool.min %></td>
        <td><%= pool.max %></td>
        <td><%= pool.available_container_count %></td>
        <td>
          <%= link_to('Show stats', pool_path(pool), class: 'btn btn-default btn-xs') %>
          <%= link_to('Edit', edit_pool_path(pool), class: 'btn btn-default btn-xs') %>
          <%= button_to('Destroy', pool_path(pool), method: :delete, form_class:'form-inline', class: 'btn btn-danger btn-xs') %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>