<div class="panel panel-default">
  <div class="panel-heading">Daemon List</div>
  <div class="panel-body">An overview of all daemons</div>
  <table class="table">
    <thead>
      <tr>
        <th>Pool</th>
        <th>IP-Address</th>
        <th>Port</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    <% @daemons.each do |daemon| %>
      <tr>
        <td><%= daemon.pool.name %></td>
        <td><%= daemon.ip %></td>
        <td><%= daemon.port %></td>
        <td>
          <div class="btn-group">#
            <%= link_to('Edit', edit_daemon_path(daemon), class:'btn btn-xs btn-primary') %>
            <%= button_to('Destroy', destroy_daemon_path(daemon), class:'btn btn-xs btn-danger') %>
          </div>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>